
.empty-div2{
    width: 100%;
    height: 20px;
    margin-top: 200px;
}
.upper-part{
    margin-top: 0;
}

.container3{
    width: 100%;
    display: flex;
}


.title{
    text-align: center;
    background-color: #40A3FF;
    color: black;
    width: 100%;
    border-radius: 30px;
   
}
.icon2{
    justify-content: end;
    width: 100%;
    text-align: end;
    font-size: 20px;

}
.image-container{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.image-container2{
    width: 600px;
    padding: 30px;
}

@media (min-width: 400px){

    .upper-part .image-container{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .upper-part .price2 h2{
        
        font-size: 40px;
        font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    }
    .special-row{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .price2 h2{
        font-weight: 800;
        font-size: 30px;
    }
}

@media (max-width: 400px ){
    .price2 h2{
        font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
        
        font-size: 25px;
    }
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.eye-icon2 {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 50px;
}

.eye-icon i {
    font-weight: bold;
    margin-right: 5px;
}

.info-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.eye-icon2 span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-left: 5px;
}

.eye-icon2 i {
    font-size: 20px;
    padding-right: 10px;
    font-family: 'Lato';
}

.price2{
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border:  2px solid ;
}

@media (min-width: 750px ){
.price2 h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
}}

.quick-info{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
    background-image: url('../assets/detailCarBack.jpg');
    background-size: cover;
    padding: 50px;
}
.special-container2{
    width: 100%;
    height: 100%;
    
    margin: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
box-shadow: 0px 4px 4px #40A3FF;
    background-image: url('../assets/detailCarBack2.jpg');
    background-size: cover;
}

.special-row{
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 1000px){

    .special-row{
        flex-wrap: wrap;
    }
    .detailed-info{
        flex-wrap: wrap;
        padding: 50px 0 50px 0 !important;
      
    }
}

.special-row .header2{
    background-color: #40A3FF;
}

.special-row  h5{
    text-align: center;
}
.special-row  .my-2{
    margin: 10px;
}

.detailed-info{
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/detailCarBack.jpg');
  
}


.detailed-info .my-2{
    margin: 50px;
    box-shadow: 1px 6px 22px 0px rgba(0,0,0,1)
}

.quick-info .my-2{
    box-shadow: 1px 6px 22px 0px rgba(0,0,0,1)
}
.car-details .data{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.checkmarks .data{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}
.checkmarks .data i{
    color: green;
}
.detailed-info  h5{
    padding: 10px;
}

@media (max-width: 367px ){
    .data h5{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    }
    
    .specail-cardBody .card-body{
        padding: 0px;
    }
}

.description-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.description-box2{
    width: 600px;
    height: auto;
    border: 2px solid;
    text-align: center;
}

.user-info-row{
    display: flex;
    justify-content: center;
}
.user-info-row i{
    font-size: 100px;
}
.user-info-row .my-3{
    text-align: center;
}

.user-info-row .my-3 .header3{
    background-color: #40A3FF;
    
}
@media (max-width: 437px ){
    .user-info-row .my-3{
        width: 50%;
    }
    .user-info-row i{
       display: none;
    }
}

.detail-similar-cars{
    margin-bottom: 40px;
}