.empty-div{
  margin-top: 300px;
  height: 70px;
  width: 100%;
}
.list {
  display: flex;
}

.sidebar {
  margin-top: 20px;
  width: 30%;
  padding: 20px;
}

.menu {
  margin-bottom: 20px;
}



.dropdown {
  margin-bottom: 15px;
}

.dropdown .dropdown-toggle {
  width: 100%;
  text-align: left;
}

.container-side {
  margin-top: 20px;

  padding: 20px;

}
.container-side-version2{
  display: none;
  margin-top: ;
}

/* Styling for form groups and checkboxes */
.form-group {
  margin-bottom: 10px;
}

.checkbox {
  margin-left: 20px;
}

.advanced-search-btn h6{
  text-decoration: underline;
  color: blue;
}

.dropdown-side2{
  width: 245px;
}
input.input-box2{
  width: 200px;
  border: 1px solid black;
}
.input-fields2{
  width: 200px;
  margin-left: 22px;
}





@media (max-width: 1444px) {
  
}
/* Additional styles for responsiveness */
@media (max-width: 1000px) {
  .list {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .container-side {
   display: none;
  }
  .container-side-version2{
    display: block;
  
  }
}